# App
NODE_ENV=development
PORT=4000
PLATFORM_FEE_PERCENT=10
BACKEND_URL=http://localhost:4000
FRONTEND_URL=http://localhost:5173
EXTRA_FRONTEND_URLS=[]
# REACT_FRONTEND_URL_BASE_NAME=digimart

# JWT
JWT_ACCESS_TOKEN_SECRET=your-jwt-access-token-secret
JWT_STATE_SECRET=your-jwt-state-secret

# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/DigiMart
# MONGODB_URI=mongodb+srv://username:password@cluster0.mongodb.net/DigiMart?retryWrites=true&w=majority

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# Google OAuth (for Google Sign In)
GOOGLE_CLIENT_ID=your-google-oauth2-client-id
GOOGLE_CLIENT_SECRET=your-google-oauth2-client-secret
GOOGLE_REDIRECT_URI=http://localhost:4000/auth/google/callback

# Email
# Development — Gmail (Nodemailer + App Password)
# Production  — Zoho Mail API
EMAIL_USER=youremail@gmail.com
EMAIL_PASS=your-google-app-16-character-password

ZOHO_CLIENT_ID=your-zoho-client-id
ZOHO_CLIENT_SECRET=your-zoho-client-secret
ZOHO_REFRESH_TOKEN=your-zoho-refresh-token
ZOHO_ACCOUNT_ID=your-zoho-account-id
ZOHO_EMAIL=youremail@yourdomain.com

# Exchange Rate API (currency conversion)
EXCHANGERATE_API_KEY=your-exchangerate-api-key

# Stripe (Test Mode)
STRIPE_SECRET_KEY=sk_test_XXXXXXXXXXXXXXXXXXXX
STRIPE_CLIENT_ID=ca_XXXXXXXXXXXXXXXXXXXXXXXX
STRIPE_REDIRECT_URI=http://localhost:4000/stripe/callback
STRIPE_SUCCESS_URL=http://localhost:5173/checkout/success
STRIPE_CANCEL_URL=http://localhost:5173/checkout/cancel
STRIPE_WEBHOOK_SECRET=whsec_XXXXXXXXXXXXXXXX